#root {
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container {
  max-width: 1280px;
  text-align: center;
}

.containerTwo {
  max-width: 962px;
  text-align: center;
}

.logo {
  width: 2.625em;
  height: auto;
}

.bg-home {
  background-color: #BFBFBF;
}


.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.home-padding {
  padding-top: 2.8125rem;
  padding-bottom: 12.25rem;
}

.backgrBlock {
  background-color: #E9E9E9;
  height: 47.5rem;
}

.aboutUs {
  padding-top: 20rem;
  padding-bottom: 3.125rem;
}

.shadow-lg {
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

.services {
  position: absolute;
  top: 40,6rem;
  left: 14.75px;
  background: white;
}
@media (max-width: 768px) {
  .logo {
    width: 2rem;
  }
  h1 {
    font-size: 1rem;
  }
  span {
    font-size: 0.875rem;
  }
  p {
    font-size: 0.675rem;
  }
}

@media (min-width: 1200px) {
  .logo {
    width: 2.625rem;
  }
  h1 {
    font-size: 1.25rem;
  }
}

/*@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}*/
